*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    max-width: 1100px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}

header{
    background-color: rgba(0, 0, 0, 0.6);
    height: 40px;
}

.logo{
    margin-top: 8px;
    color: #FFE561;
}

.menu-container{
    width: 100%;
    justify-content: space-between;
}

.menu-container a.active-menu{
    background-color: #FFE561;

}

.menu-container a{
    display: inline-block;
    margin: 0 10px;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    transition: 0.8s;
}

.menu-container a:hover{
    color: #FFE561;

}

section.main{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    min-height: 500px;
    background-image: url('../img/entardecer-florianopolis-fim-de-tarde-por-do-sol-ingleses-5-scaled.jpg');
    background-size: cover;
    background-position: center;
}

section.main h1{
    color: white;
    font-size: 55px;
}

section.main em{
    color: #FFE561;
}

.chamada{
    margin-top: 150px;
    text-align: center;
}
.chamada p{
    color: white;
    font-size: 30px;
}

.chamada button{
    padding-left: 33px;
 padding-right: 33px;
 padding-bottom: 16px;
 padding-top: 16px;
 border-radius: 9px;
 background: #d5f365;
 border: none;
 font-family: inherit;
 text-align: center;
 cursor: pointer;
 transition: 0.4s;
}

.chamada button:hover{
    box-shadow: 7px 5px 56px -14px #C3D900;
}

.chamada button:active{
    transform: scale(0.97);
 box-shadow: 7px 5px 56px -10px #C3D900;
}

.produtos{
    justify-content: space-between;
   max-width: 1100px;
    text-align: center;
    margin-top: 30px
}

.pacotes-texto h1{
    text-align: center;
    font-size: 25px;
    color: #4D4D4D;
    padding-top: 2%;
}

.pacotes-texto h3{
    text-align: center;
}

.pacotes-texto p{
    text-align: center;
    font-weight: bold;
    color: #96a1b7;
}

.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    padding-bottom: 2%;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    margin: 5px 0;
  }
  
  .product .discount {
    color: green;
    font-weight: bold;
  }
  
  #btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #btn:hover {
    background-color: #0056b3;
  }

  #btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #btn1:hover {
    background-color: #0056b3;
  }

  #btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #btn2:hover {
    background-color: #0056b3;
  
  }
  .pessoas {
    
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
  }
  

  footer{
    height: 40px;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 8px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }

  /*Pagina sobre */

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #C3D900;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .about-section.button:hover {
    background-color: #555;
  }

  /* Contato */

.contatopage {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contatopage h1{
  text-align: center;
  padding: 12px;
}

.contatopage form {
    display: grid;
    gap: 1rem;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  